body {
       background-color: #FFFFFF;    
       font-family: "Veradana,sans-serif";
       color: #000000;
       }
h1 { font-size: 1.5em; color: #AA0000; margin-bottom: 0.5em; 
     font-family: "sans-serif"; }
h2 { font-size: 1.1em; color: #AA0000; 
     font-family: "sans-serif"; }
h3 { font-size: 1.0em; color: #AA0000; 
     font-family: "sans-serif"; }
a { color: #5050AA; 
    text-decoration:none 
    }
a:hover { text-decoration:underline }
pre { background: #D0D0FF; color: #000000; padding: 2ex; width:90ex}
img{border-style: none;}
p{ max-width: 90ex }
ul{ max-width: 90ex }
.container { align: center;
             width:90%;
             max-width:150ex;
             margin: 0 5%;
             }
.description { font-size: 1.1em; margin-bottom: 0.5em; margin-top: 0;}
.linkstoc { font-size: 0.9em; margin-bottom: 0; margin-top: 0; 
            background: #F0F0FF;}
.fig { float: right; margin: 10px}
.news { float: right; margin: 0 10px; min-width:244px;
        padding: 0; text-align: center; min-height:8em;
        background: #FFFFFF;}
.news h2 { margin-bottom: 1ex; margin-top: 0.0ex }
.news ul {
          marker-offset: 0px;
          list-style-image: none;
          list-style-type: none;
          padding: 0px;
          margin: 0px;
          font-size: 80%; 
          }
.news li {
           padding: 0.75ex 0em;
           }        
.footer { text-align:center; padding-top:1em; }
